body{
	background-color:#FFF;
}
.principal_index{
	margin:auto;
	box-sizing:border-box;
	background-color:#FFF;
	padding:0;
}
.container{
	width:1366px;
	margin:auto;
	box-sizing:border-box;
	background-color:#FFF;
	padding:0;
}
.container ul{
	list-style-type:none;
}
.banner img{
	width:100%;
}
.menu{
	background-color:#38627a;
	padding:15px 30px;
}
/* margem da pagina pelo menu */
.rodape ul{
	margin:0;
	text-align:center;
}
.menu ul{
	list-style-type:none;
	margin:0;
	padding-left:15%;
	
}
.menu li, .rodape li{
	display:inline;
}
.menu a{
	/*display: inline-block;*/
	text-align:initial;
	padding:20px;
	color:#FFF;
	font-size:15px;
	font-weight: bold;
	text-transform: uppercase;	
}
.menu a:hover{
	text-decoration:none;
	color:#000;
	background-color:#FFF;
}
.mobile{ /* sumir menu mobile quando estiver em tela grande*/
	display:none;
}
.rodape{
	padding:100px;
	background-color:#38627a;
	color:#FFF;
	text-align:center;
}
.rodape div{
	border-bottom:solid 2px #eee;
	margin-bottom:20px;
	padding-bottom:20px;
}
.rodape a{
	display:inline-block;
	margin:0 10px;
	color:#FFF;
}
.rodape a:hover{
	color:red;
}
.principal{
	/* height:900px;  Apagar quando terminar as paginas */
	list-style-type:none;
}
.redes_sociais{
	background-color: #000;
	border-bottom: 9px solid #38627a;
	border-bottom-style: groove;
}
.redes_sociais img{
	display: inline;
	padding:6px;
	width: 30px;
	height: 30px;
}
#redesSociais{
	margin-left: 70%;
}
.redes_sociais a{
	text-decoration:none;
	color:#000;
}
.info{
	padding-top:30px;
	padding-bottom:30px;
	margin-top:40px;
	margin-bottom:40px;
	text-align: center;
}
.info h1{
	font-size: 40px;
	color:#38627a;
	font-weight: bold;
	margin-bottom: 20px;
}
.info h2{
	text-align: center;
	color:#38627a;
	font-weight: bold;
	margin-bottom: 20px;
}

.artigos img{
	width: 100%;
}
.artigos{
	display:flex;
	padding-left: 5px;
}
.ultimos_artigos{
	display:flex;
	padding: 5px;
	margin-top:100px;
	margin-bottom: 100px;
	text-align: center;
}
.ultimo1{
	display:flex;
	background-color:#213845;
}
.ultimo1 h2{
	font-size:30px !important;
	color:#FFF;
}
.ultimo1 p{
	font-size:15px !important;
	color:#FFF;
}
.ultimo1_titulo{
	width:50%;
}
.ultimo1_titulo h2{
	margin:15px;
	color:#FFF;
}
.ultimo1_img{
	width:50%;
}
.ultimo1 img{
	width:100%;
}
.autoria p{
	font-size:5px !important;
	color:#CCC;
}
.conselho img{
	width: 97px;
	height: 97px;
}
.conselho table{
	width: 100%;
	margin-bottom: 50px;

}
.conselho table>tbody>tr>td {
	padding: 5px 20px;
  }
.conselho h2{
	font-weight: bold;
	color:#38627a;
}
.azul{
	background-color:#38627a;
	color:#FFF;
}
.negrito{
	font-weight: bold;
}
.margem td{
	text-align: center;
	margin-bottom: 20px;
	margin-right:10px;
}
.margem div{
	margin-bottom: 20px;
}
.texto{
	text-align: center;
	font-size: 18px;
}

/* RESOLUÇÃO PARA CELULAR */

@media screen and (max-width:940px){
	.container{
		width:100%;
	}
	.menu {
		display: none;
	}
	.banner{
		/*display:none;*/
	}
	.margens {
		padding: 0 !important;
	}
	.mobile{
		display:block; /*aparecer bloco*/
		background-color:#000;
		padding:10px;
	}
	.mobile ul{ /**/
		display:none;/*essa linha faz as colunas ficarem fechadas de inicio*/
	}
	.mobile li{
		margin-bottom:10px;
	}
	.mobile a{
		color:#FFF;
		text-decoration:none;
		outline:none;
	}
	.mobile img{
		vertical-align:middle;
	}
	.conselho table{
		display:block;
	}
}